name: Release
on:
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches: [main]
  workflow_dispatch: # allow manual deployment through GitHub Action UI
permissions:
  contents: read
jobs:
  version-check:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    outputs:
      changed: ${{ steps.check.outputs.changed }}
      version: ${{ steps.check.outputs.version }}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: Check if version has been updated
        id: check
        uses: EndBug/version-check@d4be4219408b50d1bbbfd350a47cbcb126878692 # v2
        with:
          static-checking: localIsNew
          file-url: https://unpkg.com/@procore/js-sdk/package.json
      - name: Log when changed
        if: steps.check.outputs.changed == 'true'
        run: 'echo "Version change found in commit ${{ steps.check.outputs.commit }}! New version: ${{ steps.check.outputs.version }} (${{ steps.check.outputs.type }})"'
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: version-check
    if: ${{ github.event_name == 'workflow_dispatch' || needs.version-check.outputs.changed == 'true'}}
    env:
      NODE_VERSION: 20
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: Set up node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
      - name: Install Dependencies
        run: yarn install
      - name: Compile source
        run: yarn run compile
      - name: Publish package
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Tag the release
        uses: anothrNick/github-tag-action@a2c70ae13a881faf2b4953baaa9e49731997ab36 # 1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_TAG: v${{ needs.version-check.outputs.version }}
